page-card-browser {
    ion-card.card.dqr-card {
        ion-item.card-title {
            background-color:$card-title-background;

            ion-label {
                h2.en-title {
                    font-weight:600;
                }

                p.jp-title {
                    padding-left:1em;
                }
            }
        }

        div.card-image {
            padding:1.2em;
        }

        ion-card-content.card-content {
            padding:0;
        }

        ion-row.card-footer {
            ion-col {
                display:flex;
                justify-content: space-between;
            }
        }
    }
}