page-card-browser {
    ion-card.card.dqr-card {
        ion-item.card-details {
            background-color:$card-title-background;
            display:flex;

            div.card-image {
                max-width:30%;
                width:30%;
            }

            div.card-title {
                ion-label {
                    h2.en-title {
                        font-weight:600;
                    }

                    p.jp-title {
                        padding-left:1em;
                    }
                }
            }
        }

        ion-item.card-image {

            //padding:1.2em;
        }

        ion-card-content.card-content {
            padding:0;
        }

        ion-row.card-footer {
            ion-col {
                display:flex;
                justify-content: space-between;
            }
        }
    }
}