page-card-browser {
    ion-row.control-row {
        ion-col.search-col {
            div.search-objects {
                display:flex;
                align-items: center;

                ion-searchbar {
                    width:unset;
                    flex-grow:1;
                    flex-shrink: 0;
                }

                ion-icon.filter-icon {
                    flex-grow:0;
                    flex-shrink: 1;
                    font-size:2em;
                }
            }

            div.filter-objects {
                button {
                    background-color: #333;
                    font-size:1em;
                    padding: 3px 10px;
                    min-width: 20px;
                    border-radius:4px;
                    margin: 3px 0;
                    color: white;
                    display:flex;
                    align-items: center;
                    text-shadow:
                        -1px -1px 0 #000,  
                        1px -1px 0 #000,
                        -1px 1px 0 #000,
                        1px 1px 0 #000;

                    &:hover {
                        background-color: #444;
                    }

                    span.filter-item {
                        background-color: #666;
                        border-radius: 50%;
                        text-align:center;
                        min-width:20px;
                        max-width:20px;
                        min-height:20px;    
                        max-height:20px;    
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 0 3px;
                    }
                }
            }
        }
    }

    ion-card.card.dqr-card {
        ion-item.card-details {
            background-color:$card-title-background;
            display:flex;

            div.card-image {
                max-width:30%;
                width:30%;
            }

            div.card-title {
                ion-label {
                    h2.en-title {
                        font-weight:600;
                    }

                    p.jp-title {
                        padding-left:1em;
                    }
                }
            }
        }

        ion-card-content.card-content {
            padding:0;
            background-color:$card-title-background;
            border-top:1px solid #ccc;

            ion-row.card-footer {
                ion-col {
                    display:flex;
                    justify-content: space-between;
                    max-width:25%;

                    div.cost, div.attack, div.hp {
                        color: white;
                        border-radius:50%;
                        min-width:26px;
                        max-width:26px;
                        min-height:26px;
                        max-height:26px;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align:center;
                        font-weight:bold;
                        text-shadow:
                            -1px -1px 0 #000,  
                            1px -1px 0 #000,
                            -1px 1px 0 #000,
                            1px 1px 0 #000;
                        margin: 0 3px;
                    }

                    div.cost {
                        border: 1px solid #0068FE;
                        background: linear-gradient(#0068FE, #8EEFFF);
                    }

                    div.attack {
                        border: 1px solid #B10426;
                        background: linear-gradient(#B10426, #EC6954);
                    }

                    div.hp {
                        border: 1px solid #199977;
                        background: linear-gradient(#199977, #63F058);
                    }
                }
            }
        }
    }
}
