<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{displayTitle}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>



    <ion-grid>

        <ion-row>
            <ion-col
                col-12
                col-md-8>
                <ion-searchbar
                    [showCancelButton]="true"
                    (ionInput)="onFilterCards($event)"
                    (ionCancel)="onResetFilter()">
                </ion-searchbar>
            </ion-col>
            <ion-col
                col-12
                col-md-4>
                
                <ion-item>
                    <ion-label>Show Images</ion-label>
                    <ion-toggle
                        [(ngModel)]="showImages">
                    </ion-toggle>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col 
                col-12
                col-sm-6
                col-md-4
                col-lg-2
                col-xl-2
                *ngFor="let card of cards">

                <ion-card class="dqr-card" (click)="openDetail(card)">

                    <ion-item class="card-details">
                        <div class="card-image" *ngIf="showImages" item-start>
                            <img 
                                [src]="getImagePath(card)" 
                                [alt]="card.enTitle"/>
                        </div>

                        <div class="card-title">
                            <h2 class="en-title">{{card.enTitle}}</h2>
                            <p class="jp-title">{{card.jpTitle}}</p>
                        </div>
                    </ion-item>

                    <!-- <div class="card-image" >
                        <img 
                            [src]="getImagePath(card)" 
                            [alt]="card.enTitle"/>
                    </div> -->

                    <ion-card-content>

                        <ion-row class="card-footer">
                            <ion-col>
                                <div class="cost">{{card.cost}}</div>

                                <div class="attack" *ngIf="card.attack != null">{{card.attack}}</div>

                                <div class="hp" *ngIf="card.hp != null">{{card.hp}}</div>
                            </ion-col>
                        </ion-row>

                    </ion-card-content>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
