<div>
    <mat-card *ngFor="let card of cards"
        class="card-summary" 
        [matTooltip]="card.enText">

        <mat-card-header (click)="openModal(card)">
            <mat-card-title class="card-title">{{card.enTitle}}<br/>{{card.jpTitle}}</mat-card-title>
        </mat-card-header>
        
        <img (click)="openModal(card)" mat-card-image src="{{getImagePath(card)}}" alt="{{card.enTitle}}">

        <mat-card-actions>
            <button mat-button (click)="addToDeck(card)">ADD TO DECK</button>
        </mat-card-actions>
    </mat-card>
</div>