page-card-detail {

    .card-image {
        padding:1.2em;
    }

    ion-card.card.dqr-card {
        ion-item.card-title {
            background-color:$card-title-background;

            ion-label {
                h2.en-title {
                    font-weight:600;
                }

                p.jp-title {
                    padding-left:1em;
                }
            }
        }

        div.card-details {
            display:flex;
            flex-direction: column;

            div {
                display:flex;
                margin-top:1em;
                
                span {
                    width: 69%;
                }

                span.card-detail-title {
                    font-weight: 600;
                    padding-right: 2em;
                    width:30%;
                }

                &.card-english-text, &.card-jp-text {
                    margin-top:2em;
                }
            }
        }
    }
}