.mat-dialog-container {
    padding:0;
}

.data-container {

    padding:30px;

    .card-data {
        padding-right:2em;

        .name {
            font-weight: bold;
        }
    }
    
    .card-image {
        max-width: 220px;
    }

    .card-description {
        span.title {
            font-weight: bold;
            display: block;
        }
    }
}
