<ion-header>
    <ion-toolbar>
        <ion-title>{{displayTitle}}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="saveFilter()">
                Filter
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row class="cost-row">
            <ion-col
                size="12"
                size-md="4"
                class="title-col">
                Cost
            </ion-col>
            <ion-col
                size="12"
                size-md="8">

                <ng-container *ngFor="let costFilter of costFilterItems">
                    <button 
                        class="small-filter-button"
                        [ngClass]="{'is-selected': costFilter.isActive }"
                        (click)="onFilterItemClick(costFilter)">
                        {{costFilter.name}}
                    </button>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
