ion-row.cost-row {
    ion-col.title-col {
        font-size:1.2em;
        font-weight:bold;
    }

    button.small-filter-button {
        border: 1px solid #333;
        background-color: #333;
        font-size:1em;
        padding: 3px 10px;
        min-width: 20px;
        border-radius:4px;
        margin: 3px 3px;
        color: white;
        text-shadow:
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;

        &.is-selected {
            border: 1px solid var(--app-cost-primary-color);
            background: var(--app-cost-primary-color);
            text-shadow:none;
            //background: linear-gradient(var(--app-cost-primary-color), var(--app-cost-secondary-color));
        }
    }
}