<mat-toolbar>
    Deck Browser
</mat-toolbar>

<div class="data-container">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="deckData">
  
      <ng-container matColumnDef="enTitle">
        <mat-header-cell *matHeaderCellDef>EN Title</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.enTitle}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="jpTitle">
        <mat-header-cell *matHeaderCellDef>JP Title</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.jpTitle}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="attack">
        <mat-header-cell *matHeaderCellDef>Attack</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.attack}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="hp">
        <mat-header-cell *matHeaderCellDef>HP</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.hp}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
