<ion-header *ngIf="showDetailCard">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{displayTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid *ngIf="showDetailCard">
        <ion-row>
            <ion-col 
                size="12" 
                size-md="6">
                    <img 
                    class="card-image"
                    [src]="getImagePath(detailCard)" 
                    [alt]="detailCard.enTitle"/>
            </ion-col>
            <ion-col
                size="12" 
                size-md="6">

                <ion-card 
                    class="dqr-card">

                    <ion-card-content>
                        <div class="card-title">
                            <h2 class="en-title">{{detailCard.enTitle}}</h2>
                            <p class="jp-title">{{detailCard.jpTitle}}</p>
                        </div>

                        <div class="card-details">
                            <div class="card-cost">
                                <span class="card-detail-title">Cost</span>
                                <span>{{detailCard.cost}}</span>
                            </div>
                            <div class="card-attack">
                                <span class="card-detail-title">Attack</span>
                                <span>{{detailCard.attack}}</span>
                            </div>
                            <div class="card-hp">
                                <span class="card-detail-title">HP</span>
                                <span>{{detailCard.hp}}</span>
                            </div>
                            <div class="card-type">
                                <span class="card-detail-title">Type</span>
                                <span>{{detailCard.cardType | cardType}}</span>
                            </div>
                            <div class="card-class">
                                <span class="card-detail-title">Class</span>
                                <span>{{detailCard.cardClass | cardClass}}</span>
                            </div>
                            <div class="card-skills">
                                <span class="card-detail-title">Skills</span>
                                <span *ngIf="detailCard.cardSkills">
                                    <ng-container *ngFor="let skill of detailCard.cardSkills">
                                        <p>{{skill | cardSkill}}</p>
                                    </ng-container>
                                    </span>
                            </div>
                            <div class="card-english-text">
                                <span class="card-detail-title">EN Text</span>
                                <span>{{detailCard.enText}}</span>
                            </div>
                            <div class="card-jp-text">
                                <span class="card-detail-title">JP Text</span>
                                <span>{{detailCard.jpText}}</span>
                            </div>
                        </div>
                    </ion-card-content>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
